* {
  margin: 0;
  padding: 0;
  /* cursor: none; */
  box-sizing: border-box;
}

#custom-cursor {
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: background 200ms ease-in, border 200ms ease-in, backdrop-filter 200ms ease-in;
}

main {
  gap: 1.5rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(60, 7, 83);
  background: radial-gradient(
    circle,
    rgba(60, 7, 83, 1) 0%,
    rgba(3, 6, 55, 1) 100%
  );
}

h1 {
  font-size: 4rem;
  color: aliceblue;
}

.search-container {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.search-box {
  width: 8rem;
  padding: 8px;
  border: none;
  outline: none;
  height: 1.5rem;
  font-size: small;
  border-radius: 12px;
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
  background-color: aliceblue;
}

#search-label {
  display: none;
}

.search-box:focus {
  width: 18rem;
  height: 2.2rem;
  font-size: large;
}

#search-engine {
  border: none;
  color: aliceblue;
  background-color: transparent;
}

.shortcuts {
  gap: 10px;
  width: 100%;
  display: grid;
  margin-bottom: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 100px);
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

.shortcut:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.shortcut span:first-child {
  font-size: 2rem;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .clock {
      font-size: 2rem;
  }

  h1 {
      font-size: 2rem;
  }

  .shortcuts {
      grid-template-columns: repeat(2, 1fr);
  }
}